body {
	margin: 0;
	padding: 0;
	background: #333;
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
	margin: 0;
	padding: 0;
}

ul, li, a {
	list-style: none;
	color: #fff;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	margin-right: 20px;
}

.header {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menu {
	display: flex;
	transition: all .8s ease;
	padding-bottom: 8px;
}

.nav-link {
	padding: 0 50px 25px 0;
	cursor: pointer;
	transition: .3s;
}

.nav-link:hover {
	color: #555;
}

.sub-menu {
	display: none;
	color: #222;
	position: absolute;
	top: 35px;
	border-radius: 7px;
	background: #fff;
	text-align: left;
	min-width: 30rem;
}

.sub-menu:before {
	content: "";
    position: absolute;
    left: 1rem;
    top: -15px;
    display: block;
    width: 0;
    height: 0;
    border: 0.5rem solid transparent;
    border-bottom-color: #fff;
}

.b-card-panel {
	padding: 1rem 2rem 1rem 5rem;
	color: red;
	background: url(../img/suitcase.png) no-repeat;
	-webkit-background-size: 20px;
	background-size: 40px;
	background-position: 20px 5px;
}

.b-card-panel:hover .submenu-text, .b-card-panel:hover .submenu-title {
	color: black;
}

.submenu-title{
	color: #222;
	font-weight: 600;
	padding-top: 10px;
	transition: color .3s;
	background: url(../img/suitcase.png);
	transition: .3s;
}

.submenu-text {
	color: #666;
	transition: .3s;
}


.menu>li:hover .sub-menu{
	display: block;
	transition: .8s;
}

.gamburger-menu {
	display: none;
}

@media (max-width:767px) {

	body {
		font-size: 24px;
	}

	.gamburger-menu {
		position: absolute;
		right: 0;
		top: 10px;
		display: flex;
	}

	.menu-btn {
		display: block;
		width: 40px;
		height: 40px;
		/*background: #fff;*/
		border-radius: 50px;
		position: relative;
		right: 0;
		text-align: right;
		z-index: 3;
	}

	.menu-btn span, .menu-btn span:before, .menu-btn span:after {
		display: block;
		width: 30px;
		height: 2px;
		background: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -15px;
		margin-top: -1px;
		transition: all 0.3s linear;
		z-index: 3;
		border-radius: 50px;
	}

	.menu-btn span:before, .menu-btn span:after {
		content: '';
	}

	.menu-btn span:before {
		transform: translateY(-6px);
	}

	.menu-btn span:after {
		transform: translateY(6px);
	}

	.btn-active {
		display: block;
		background: #333;
	}

	.menu-active {
		display: block;
		z-index: 1;
	}

	.menu-btn.btn-active {
		transform: rotate(-50deg);
	}

	.menu-btn.btn-active span:before {
		transform: rotate(-80deg);
	}

	.menu-btn.btn-active span:after {
		width: 10px;
		transform: rotate(-45deg);
		transform-origin: left top;
		display: none;
	}


	.header {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		background: #fff;
		height: 100vh;
		display: none;
		z-index: 1;
	}

	.sub-menu {
		display: block;
		position: static;
		background: none;
		min-width: auto;
	}

	.b-card-panel {
		background: none;
		padding: 10px 10px 0px 20px;
	}

	.submenu-text {
		display: none;
	}

	.submenu-title {
		color: #999;
	}

	.menu {
		display: block;
		padding: 50px 0 0 25px;
	}

	.menu > li {
		padding: 0 0 20px 0;
	}

	.nav-link {
		color: #333;
	}

	.menu-active {
		display: block;
	}
}